.App {
    background: #EDF3F8;
    background-image: url("/src/components/assets/shared/desktop/bg-pattern-circle.svg");
    background-repeat:no-repeat;
    background-size: auto;
    background-position: 130% -200px;
}


